

form {
  display: inline-block;
  position: relative;
  text-align: left;
  height: auto;
  min-width:500px;
  width: 30%;
  max-width: 50%;
  float: right;
  padding: 40px 120px;
  border-radius: 25px;
  border: 3px solid #249d8b;
  background: #262624;
  font-stretch: 50px;
}

button {
  border: none;
  padding: 10px;
  border-radius: 5px;
}
table {
  width: 60%;
  border-collapse: collapse;
  margin: 100px auto;
}
th,
td {
  height: 50px;
  vertical-align: center;
  border: 0px solid black;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');
html {
font-size: 62.5%;
}
body {
font-family: 'Open Sans', sans-serif;
font-size: 1.6rem;
font-weight: 400;

}
h1 {
margin-bottom: 0.5em;
font-size: 3.6rem;
}
p {
margin-bottom: 0.5em;
font-size: 1.6rem;
line-height: 1.6;
}
span {cursor:pointer; }
@import url('https://fonts.googleapis.com/css?family=Dosis');

:root {
  /* generic */
  --gutterSm: 0.4rem;
  --gutterMd: 0.8rem;
  --gutterLg: 1.6rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400: #7e57c2;
  --colorPrimary600: #5e35b1;
  --colorPrimary800: #4527a0;
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 1.2rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.1rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeLg);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 50%;
  --labelTransformedPosY: calc(
    (var(--labelDefaultPosY)) -
    (var(--inputPaddingV) * var(--labelScaleFactor)) -
    (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;

  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: #455A64;
  background-color: #7E57C2;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeMd);
  line-height: var(--lineHeightMd);
}


.Input0 {

  position: relative;
}

.Input-text0 {
  text-align: center;
  display: block;
  position: absolute;
  color: inherit;
  height: 35px;
  width: 250px;
  font-family: inherit;
  font-size: 13px;
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}

.Input-text0::placeholder {
  color: #B0BEC5;
}

.Input-text0:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.Input-label0 {
  text-transform: uppercase;
  display: block;
  position: absolute;
  bottom: 50%;
  color: #fff;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  opacity: 0;
  transform:
    translate3d(0, var(--labelDefaultPosY), 0)
    scale(1);
  transform-origin: 0 0;
  transition:
    opacity var(--inputTransitionDuration) var(--inputTransitionTF),
    transform var(--inputTransitionDuration) var(--inputTransitionTF),
    visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
    z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
}

.Input-text0:placeholder-shown + .Input-label {
  visibility: hidden;
  z-index: -1;
}

.Input-text0:not(:placeholder-shown) + .Input-label,
.Input-text0:focus:not(:placeholder-shown) + .Input-label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform:
    translate3d(0, var(--labelTransformedPosY), 0)
    scale(var(--labelScaleFactor));
  transition:
    transform var(--inputTransitionDuration),
    visibility 0ms,
    z-index 0ms;
}
.container-checkbox{

  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-checkbox input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark{
  position: absolute;
  top: 0;
  margin-right: 100%;
  height: 25px;
  width: 25px;
  background: #FFF;
  box-shadow: 0px 4px 12px rgba(136, 18, 56, 0.15);
  border-radius: 6px;
  transition: 320ms ease;
}
.container-checkbox: hover input ~ .checkmark{
  background: #A81F4A;
  box-shadow: 0px 4px 12px rgba(168, 31, 74, 0.2);
}
.container-checkbox input:checked ~ .checkmark{
  background: #249d8b;
    box-shadow: 0px 4px 12px rgba(238, 69, 64, 0.15);
}
.checkmark:after{
  content: "";
  position: absolute;
  opacity: 0;
  transition: 280ms ease;
}
.container-checkbox input:checked ~ .checkmark:after{
  opacity: 1;
  transform: translateY(0px) rotate(45deg);
}
.container-checkbox .checkmark:after{
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: translateY(2px) rotate(45deg);
  -ms-transform: translateY(2px) rotate(45deg);
  transform: translateY(2px) rotate(45deg);
}
.button {
display: inline-block;
margin-top: 20px;
padding: 8px 25px;
border-radius: 4px;
}
.button-primary {
position: relative;
background-color: #c0ca33;
color: #fff;
font-size: 1.8rem;
font-weight: 700;
transition: color 0.3s ease-in;
z-index: 1;
}
.button-primary:hover {
color: #c0ca33;
text-decoration: none;
}
.button-primary::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
right: 0;
top: 0;
background-color: #fff;
border-radius: 4px;
opacity: 0;
-webkit-transform: scaleX(0.8);
-ms-transform: scaleX(0.8);
transform: scaleX(0.8);
transition: all 0.3s ease-in;
z-index: -1;
}
.button-primary:hover::after {
opacity: 1;
-webkit-transform: scaleX(1);
-ms-transform: scaleX(1);
transform: scaleX(1);
}
.overlay::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
right: 0;
top: 0;
background-color: rgba(0, 0, 0, .3);
}
.header-area {
position: relative;
height: 0;
background-attachment: fixed;
background-position: center center;
background-repeat: no-repear;
background-size: cover;
}
.banner {
display: flex;
align-items: center;
position: relative;
height: 100%;
color: #fff;
text-align: center;
z-index: 1;
}
.banner h1 {
font-weight: 800;
}
.banner p {
font-weight: 700;
}

.dropdown-menu {
  min-width: 200px;
  -webkit-animation: dropdown-animation 0.3s;
  animation: dropdown-animation 0.3s;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
}
@-webkit-keyframes navbar-animation {
0% {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
100% {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
}
@keyframes navbar-animation {
0% {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
100% {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
}
@-webkit-keyframes dropdown-animation {
0% {
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}
75% {
  -webkit-transform: scaleY(1.1);
  -ms-transform: scaleY(1.1);
  transform: scaleY(1.1);
}
100% {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
}
@keyframes dropdown-animation {
0% {
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}
75% {
  -webkit-transform: scaleY(1.1);
  -ms-transform: scaleY(1.1);
  transform: scaleY(1.1);
}
100% {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
}
