@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf');
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {
  margin: 0px;
}

.info{
  width: 50%;
  height: 35%;
  color: white;
  padding: 0 5%;
  text-align: right;
  text-justify: inter-word;
}
.info-title{

  font-size: 40px;
  color: green;
}

.info-text{
  margin-left: 0;
  font-size: 30px;
  color: white;
}

.pren{
  margin-top: 450px;
  width: 100%;
  min-height: 450px;
  max-height: 500px;
}
.registraAcquisto{
  margin-top: 300px;
  width: 100%;
  min-height: 450px;
  max-height: 500px;
}
.visualizzaCodaPrenotazioni{
  margin-top: 800px;
  width: 100%;
  min-height: 450px;
  max-height: 500px;
  margin-left:0;

}
.visualizzaCodaRitiri{
  position: relative;
  margin-top: 1800px;
  margin-right: 0px;
  margin-right: 50px;
  width: 100%;
  min-height: 450px;
  max-height: 500px;
}
.pren-img{

 max-width: 45%;
 max-height: 450px;
 margin-left: auto;
 margin-right: 50%;
}
.pren-text{
  text-align: justify;
  text-justify: inter-word;
  font-size: 30px;
  color: white;
  margin-left: 50%;
  margin-right: auto;

}
.registraAcquisto-text{
  text-align: justify;
  text-justify: inter-word;
  font-size: 30px;
  color: white;
  margin-left: 10%;
  margin-right: auto;

}
.visualizzaCodaPrenotazioni-text{
  text-align: justify;
  text-justify: inter-word;
  font-size: 30px;
  color: white;
  margin-left: -10%;
  margin-right: 20%;

}
.visualizzaCodaRitiri-text{
  text-align: justify;
  text-justify: inter-word;
  font-size: 30px;
  color: white;
  margin-left: 0%;
  margin-right: 0%;

}
ul, li {
	margin: 0px;
	list-style-type: none;
}

text{
  text-align: left;
}
/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: 1px;
	background: white;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*////////////////////////////////////////////////////////////////// <b><button onclick="window.location.href='http://$ip:$porta/esPHP/InnovativeBuzzi/Prenotazione/CreaPrenotazione.php'" type="button" class="btn btn-outline-success">Crea Acquisto</button></b>
[ Table ]*/


.container-table100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
  flex-wrap: wrap;
  padding: 33px 30px;
  margin-right: 10%;
}

.wrap-table100 {
  width: 50%;
  height: 35%;
}
.wrap-table100Operatore {
  width: 85%;
  height: 35%;
}

.wrap-table100OperatoreR {
  width: 65%;
  height: 35%;
}
/*//////////////////////////////////////////////////////////////////
[ Table ]*//*
.table100 {
  background-color: #fff;
}*/

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 { /*colonna NOME*/
  width: 20%;
  padding-left: 40px;
}

.column2 { /*colonna DATA*/
  width: 20%;
}

.column3 { /*colonna ORA*/
  width: 20%;
}

.column4 { /*colonna QUANTITA */
  width: 20%;
}

.column5 { /*colonna QUANTITA */
  width: 20%;
}

.column1O { /*colonna NOME*/
  tex-align:center;
  width: 11%;
  padding-left: 25px;
}

.column2O { /*colonna DATA*/
  width: 11%;
  tex-align:center;
}

.column3O { /*colonna ORA*/
  width: 11%;
  tex-align:center;
}

.column4O { /*colonna QUANTITA */
  width: 9%;
  tex-align:center;
}

.column5O { /*colonna QUANTITA */
  width: 9%;
  tex-align:center;
}
.column6O { /*colonna QUANTITA */
  width: 9%;
  tex-align:center;
}
.column7O { /*colonna QUANTITA */
  width: 12%;
  tex-align:center;
}
.column8O { /*colonna QUANTITA */
  width: 10%;
  tex-align:center;
}

.column9O { /*colonna QUANTITA */
  width: 16%;
  tex-align:center;
}
/*-----------------------------------------------------------------------PER LA TABELLA RITIRI----------------------------------------------------*/
.column1OR { /*colonna NOME*/
  tex-align:center;
  width: 14%;
  padding-left: 25px;
}

.column2OR { /*colonna DATA*/
  width: 14%;
  tex-align:center;
}

.column3OR { /*colonna ORA*/
  width: 14%;
  tex-align:center;
}

.column4OR { /*colonna QUANTITA */
  width: 14%;
  tex-align:center;
}

.column6OR { /*colonna QUANTITA */
  width: 14%;
  tex-align:center;
}
.column7OR { /*colonna QUANTITA */
  width: 14%;
  tex-align:center;
}
.column8OR { /*colonna QUANTITA */
  width: 14%;
  tex-align:center;
}
/*-----------------------------------------------------------------------FINE PER LA TABELLA RITIRI----------------------------------------------------*/

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
    text-align: center;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
  width: 100%;
  background-color: #fff;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color : #393939;
}


.table100-body {

  overflow: auto;
  height: 100%;
  max-height: 370px;
}


/*==================================================================
[ Ver3 attuale]*/

.table100.ver3 {
  background-color: #393939;
}

.table100.ver3 th {
  font-family: Lato-Bold;
  font-size: 15px;
  color: #00ad5f;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #393939;
}

.table100.ver3 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.4;
  background-color: #222222;
}


/*---------------------------------------------*/

.table100.ver3 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver3 .ps__rail-y {
  right: 5px;
}

.table100.ver3 .ps__rail-y::before {
  background-color: #4e4e4e;
}

.table100.ver3 .ps__rail-y .ps__thumb-y::before {
  background-color: #00ad5f;
}
